

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
  }

  hr {
    height: 1px;
    color: #1abc9c;
    background-color: #1abc9c;
    border: none;
  }

  small{
    color:black;
    font-size: 20px;
  }

  #wrapper{
    max-height: 100%; 
  }

  /* Navigation */
  #slideNav {
  	position: fixed;
  	right: 0;
  	top: 50%;
  	margin-top: -220px;
  	z-index: 11;
  }

  #slideNav ul {
  	list-style: none;
  	color: #000000;
  	font-size: 13px;
  	text-align: center;
  }

  .liCircle{
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
  	width: 80px;
  	height: 80px;
  	line-height: 50px;
  	background-color: rgba(240,240,240,0.75);
    text-align: center;
    padding-top:15px;
  	margin: 10px;
    border: 3px;
    border-color: black;
    border-width:thin;
    border-radius: 50%;
    cursor: pointer;
  }

  #slideNav li:hover{
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    background-color: rgb(34,34,34);
    color:white;
  }

  .liCircleHover{
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    background-color: rgb(34,34,34);
    color:white;
   	width: 80px;
  	height: 80px;
  	line-height: 50px;
    text-align: center;
    padding-top:15px;
  	margin: 10px;
    border: 3px;
    border-color: black;
    border-width:thin;
    border-radius: 50%;
    cursor: pointer;
  }

  #slideNav a {
  	text-decoration: none;
    color: inherit;
  }

  #myimg{
    border-color: black;
    border-width:thin;
    border-radius: 50%;
    float: right;
  }

  #about{
    opacity: 0.3
  }

  .caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption2{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #000;
    padding-top: 50px;
  }

  .caption span.border, .caption2 span.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .header{
    color: rgb(38,38,38);
  }

  .mycard {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    width:50%;
    opacity: 0.9;
  }

  .card2 {
    background: #777;
    border-radius: 2px;
    margin: 1rem;
    position: relative;
    opacity: 0.9;
  }

  .shadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .slides {
      text-align: center;
      padding-top:150px;
  }


  .hsContainer{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

#scroll a {
	padding-top: 60px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}

#scroll a:hover{
	opacity: .5;
}


#scroll a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#scroll a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#contact img:hover{
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
  width:110px;
  height: 110px;
}

/*
#resumeCard{  
  width:50%; 
  margin:0 auto;
  position: relative;
}
*/

@media screen and (max-width: 860px) {
  #resumeCard{  
    width:100%; 
  }
}


.mycontainer{
  width:100%;
  margin: 0 auto;
}

.parallax-container {
    height: 100%;
}

