<!-- Main -->
<div class="main">
    <!--<h4><a href="#/">Go Back</a></h4>-->
    <h1 style="font-size:4em;">Blog</h1>
    <section id="1">
        <header class="major">
        </header>
        <section>
            <header>
                <i><h4><a href="">Hello World</a></h4></i>
                <p>28/5/2017</p>
            </header>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <hr/>
        </section>
    </section>
</div>