<!-- Main -->
<div class="main">
    <!-- One -->
    <section id="about">
        <header class="major">
            <h2>About Me</h2>
        </header>
        <p>I completed my <a href="https://www.gold.ac.uk/pg/msc-computational-cognitive-neuroscience/">MSc in Computational Cognitive Neuroscience at Goldsmiths, University of London</a>. I graduated from the <a href="http://www.aucegypt.edu">American University in Cairo</a> in June 2018 with a cumulative
            GPA of 4.0 majoring in Computer Science. I am passionate about intelligence in its really broad sense; the way brains work and the ability to reproduce that artificially. Scroll down to take a look at my resumé and some of the projects I have done,
            if you have any questions please don't hesitate to contact me :)</p>
        <p style="display: inline-block"> <em>life is a conundrum of esoterica</em></p>
        <ul class="actions" id="cv">
            <li><a class="button icon fa-download" href="resources/CV.pdf">Download CV</a></li>
        </ul>
    </section>
    <section id="experience">
        <header class="major">
            <h2>Latest News</h2>
        </header>
        <section id="ex">
            <ul>
                <li>Our paper <a href="https://www.researchgate.net/publication/349636312_Adapting_MARBERT_for_Improved_Arabic_Dialect_Identification_Submission_to_the_NADI_2021_Shared_Task">Adapting MARBERT for Improved Arabic Dialect Identification: Submission to the NADI 2021 Shared Task</a> was accepted to  <a href="https://sites.google.com/view/wanlp2021">The Sixth Arabic Natural Language Processing Workshop (WANLP 2021)</a> co-located with <a href="https://2021.eacl.org">EACL 2021</a>.</li>
                <li>Our team won the first place on all of the four subtasks in the <a href="https://sites.google.com/view/second-nadi-shared-task/home">NADI 2021 Shared Task</a>.</li>
                <li>I published my first article on <a href="https://towardsdatascience.com/part-1-episodic-meta-rl-and-the-brain-909b9bccfc29">Towards Data Science</a>, it's on the relation between Episodic Meta-RL and the Brain!</li>
                <li>I am currently working on three research projects intended for publication (self-funded)!</li>
                <li>I am starting a research internship at <a href="https://ai.sony/index.html">Sony AI</a> in Tokyo (postponed due to COVID-19).</li>
                <li>I gave an Oral Presentation about our Deep Diacritization paper at <a href="https://coling2020.org">COLING'2020</a> (Online).</li>
                <li>I was in the Program Committee (as a Junior Reviewer) of the <a href="https://meta-learn.github.io/2020/">MetaLearn2020</a> workshop at NeurIPS.</li>
                <li>Our paper <a href="https://www.aclweb.org/anthology/2020.wanlp-1.4/">"Deep Diacritization: Efficient Hierarchical Recurrence for Improved Arabic Diacritization"</a> has been accepted to <a href="https://sites.google.com/view/wanlp-2020/home">The Fifth Arabic Natural Language Processing Workshop (WANLP 2020)</a> as a <i>Main Paper</i>. That is my first publication!</li>
            </ul>
        </section>
    </section>
    <section id="experience">
        <header class="major">
            <h2>Experience</h2>
        </header>
        <section id="ex">
            <div ng-repeat="ex in experience | limitTo: experience_sz track by $index">
                <header>
                    <img class="imageEx" width="100px" height="100px" ng-src="{{ex.image}}" />
                    <h4>{{ex.title}}</h4>
                    <p>{{ex.date}}</p>
                </header>
                <ul style="list-style-type: circle;"><li  ng-repeat="point in ex.points">{{point}}</li></ul>
                <hr ng-hide="$index == experience_sz-1" />
            </div>
            <ul class="actions">
                <li><a class="button icon fa-share" href="#experience">More Experience</a></li>
            </ul>
        </section>
    </section>
    <!-- Two -->
    <section id="projects">
        <header class="major">
            <h2>Projects</h2>
        </header>
        <div class="row">
            <article class="6u 12u$(xsmall) work-item" id="project.priority" ng-repeat="project in projects | orderBy:project.priority | limitTo:projects_sz">
                <a class="image fit thumb" href="{{project.link}}">
                    <img style="border: solid 1px rgb(0,0,0);" alt="{{project.name}}" ng-src="{{project.image}}"/>
                </a>
                <h3>{{project.name}}</h3>
                <p>{{project.desc}}</p>
            </article>
        </div>
        <ul class="actions">
            <li><a class="button icon fa-share" href="#projects">More Projects</a></li>
        </ul>
    </section>

    <section id="playground">
        <header class="major">
            <h2>Playground</h2>
        </header>
        <div class="row">
            <article class="6u 12u$(xsmall) work-item" ng-repeat="project in playground | limitTo:playground_sz">
                <a class="image fit thumb" href="{{project.link}}">
                    <img style="border: solid 1px rgb(0,0,0);" alt="{{project.name}}" ng-src="{{project.image}}"/>
                </a>
                <h3>{{project.name}}</h3>
                <p>{{project.desc}}</p>
            </article>
        </div>
        <ul class="actions">
            <li><a class="button icon fa-share" href="#playground">More Playground Projects</a></li>
        </ul>
    </section>
    <!-- Five -->
    <section id="blog">
        <header class="major">
            <h2>Recent Blog Posts</h2>
        </header>
        <section>
            <header>
                <i><h4><a href="https://bkhmsi.github.io/blog/episodic-meta-rl-and-the-brain/">Part 1: Episodic Meta-RL and the Brain</a></h4></i>
            </header>
            <p>This is the first part of a series of blog posts about my master’s dissertation.</p>
        </section>
        <section>
            <header>
                <i><h4><a href="https://bkhmsi.github.io/blog/hello-world/">Hello World</a></h4></i>
            </header>
            <p>Welcome to my first blog post, I have been meaning to do this from quite sometime, but haven’t had the courage to do so until now. Instead of introducing myself - which is always a hard thing to do - I will let my future blog posts do that for me, but for starters I can tell you this...</p>
        </section>
        <ul class="actions">
            <li><a class="button icon fa-share" href="https://bkhmsi.github.io/blog">More Blog Posts</a></li>
        </ul>
    </section>
    <!-- Four -->
    <section id="activities">
        <header class="major">
            <h2>Activities and Volunteering</h2>
        </header>
        <section id="ac">
            <div ng-repeat="ac in activities | limitTo:activities_sz">
                <header>
                    <img class="imageEx" width="100px" height="100px" ng-src="{{ac.image}}" />
                    <h4>{{ac.title}}</h4>
                    <p>{{ac.date}}</p>
                </header>
                <p>{{ac.desc}}</p>
                <hr ng-hide="$index == activities_sz-1" />
            </div>
        </section>
        <ul class="actions">
            <li><a class="button icon fa-share" href="#activities">More</a></li>
        </ul>
    </section>
    <section id="social">
        <header class="major">
            <h2>Me on the Internet<span style="float:right">🌐</span></h2>
        </header>
        <section>
            <header>
                <h4><a href="https://www.quora.com/profile/Badr-AlKhamissi">Quora Profile</a></h4>
            </header>
            <p><i>Quora is one of my favorite websites, I occasionally answer and ask questions, but mostly I just read ... alot</i></p>
            <hr/>
            <header>
                <h4><a href="https://www.kaggle.com/bkhmsi">Kaggle Profile</a></h4>
            </header>
            <p><i>I am intending to shift my focus to ML and data-science, and take part in more kaggle competitions</i></p>
            <hr/>
            <header>
                <h4><a href="https://a2oj.com/profile?Username=Bkhmsi">A2OJ Profile</a></h4>
            </header>
            <p><i>This is my coder profile on A2 Online Judge, it contains most of the problems I solved in other competitive programming websites including: <a href="http://codeforces.com/profile/Bkhmsi">Codeforces</a>, <a href"">SPOJ</a> and <a href="https://uva.onlinejudge.org/index.php?option=onlinejudge&page=show_authorstats&userid=757755">UVA</a></i></p>
            <hr/>
        </section>
    </section>
</div>