<!-- Main -->
<div id="main">
    <!-- One -->
    <section id="one">
        <header class="major">
            <h2>About Me</h2>
        </header>
        <p>I am a Computer Science senior in the <a href="http://www.aucegypt.edu">American University in Cairo</a> with a cumulative
            GPA of 4.0. I am a developer/ artist/ researcher hybrid in the making. Passionate about Machine Learning, Computer Vision and
            creating cool things in general. Scroll down to take a look at my resumé and some of the projects I have done,
            if you have any questions please don't hesitate to contact me :)</p>
        <p style="display: inline-block"> <em> I believe that technology is the key to social equality.</em></p>
        <ul class="actions" id="cv">
            <li><a class="button icon fa-download" href="resources/CV.pdf">Download CV</a></li>
        </ul>
    </section>
    <section id="two">
        <header class="major">
            <h2>Experience</h2>
        </header>
        <section id="ex">
            <div ng-repeat="ex in experience track by $index">
                <header>
                    <img class="imageEx" width="100px" height="100px" ng-src="{{ex.image}}" />
                    <h4>{{ex.title}}</h4>
                    <p>{{ex.date}}</p>
                </header>
                <p>{{ex.desc}}</p>
                <hr ng-hide="$index == experience.length-1" />
            </div>
        </section>
    </section>
    <!-- Two -->
    <section id="three">
        <header class="major">
            <h2>Projects</h2>
        </header>
        <div class="row">
            <article class="6u 12u$(xsmall) work-item" id="project.priority" ng-repeat="project in projects | orderBy:project.priority | limitTo:projects_sz">
                <a class="image fit thumb" href="{{project.link}}">
                    <img style="border: solid 1px rgb(0,0,0);" alt="{{project.name}}" ng-src="{{project.image}}"/>
                </a>
                <h3>{{project.name}}</h3>
                <p>{{project.desc}}</p>
            </article>
        </div>
        <ul class="actions">
            <li><a class="button icon fa-share" href="#projects">More Projects</a></li>
        </ul>
    </section>
    <!-- Four -->
    <section id="four">
        <header class="major">
            <h2>Activities and Volunteering</h2>
        </header>
        <section id="ac">
            <div ng-repeat="ac in activities | limitTo:activities_sz">
                <header>
                    <img class="imageEx" width="100px" height="100px" ng-src="{{ac.image}}" />
                    <h4>{{ac.title}}</h4>
                    <p>{{ac.date}}</p>
                </header>
                <p>{{ac.desc}}</p>
                <hr ng-hide="$index == activities_sz-1" />
            </div>
        </section>
        <ul class="actions">
            <li><a class="button icon fa-share" href="#activities">More</a></li>
        </ul>
    </section>
    <!-- Five -->
    <section id="five">
        <header class="major">
            <h2>Blog</h2>
            <small>I always wanted to start a blog but never had the time or courage to do so. So I challenged myself to write at least one blog post per month about anything <i>interesting</i> that cross my mind</small>
        </header>
        <section>
            <header>
                <i><h4><a href=""></a></h4></i>
                <p></p>
            </header>
            <p></p>
        </section>
    </section>
    <section id="five">
        <header class="major">
            <h2>Me on the Internet<span style="float:right">🌐</span></h2>
        </header>
        <section>
            <header>
                <h4><a href="https://www.quora.com/profile/Badr-AlKhamissi">Quora Profile</a></h4>
            </header>
            <p><i>Quora is one of my favorite websites, I occasionally answer and ask questions, but mostly I just read ... alot</i></p>
            <hr/>
            <header>
                <h4><a href="https://www.kaggle.com/bkhmsi">Kaggle Profile</a></h4>
            </header>
            <p><i>I am intending to shift my focus to ML and data-science, and take part in more kaggle competitions</i></p>
            <hr/>
            <header>
                <h4><a href="https://a2oj.com/profile?Username=Bkhmsi">A2OJ Profile</a></h4>
            </header>
            <p><i>This is my coder profile on A2 Online Judge, it contains most of the problems I solved in other competitive programming websites including: <a href="http://codeforces.com/profile/Bkhmsi">Codeforces</a>, <a href"">SPOJ</a> and <a href="https://uva.onlinejudge.org/index.php?option=onlinejudge&page=show_authorstats&userid=757755">UVA</a></i></p>
            <hr/>
        </section>
    </section>
</div>