textarea{
  -webkit-box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border;
  -webkit-transition-timing-function: linear;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  height: 200px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 3.200000047683716px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3.200000047683716px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 6px;
  text-rendering: auto;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 100%;
  word-spacing: 0px;
}

#page{
  background-color: #343d46;
  color: white;
}

.sel{
  -webkit-box-shadow: none;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border;
  -webkit-transition-timing-function: linear;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  height: 20px;
  letter-spacing: normal;
  margin-bottom: 3.200000047683716px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3.200000047683716px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-rendering: auto;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 133px;
  word-spacing: 0px;
}

label{
  color: rgb(119, 119, 119);
  display: block;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  height: 17px;
  letter-spacing: normal;
  margin-bottom: 3.5999999046325684px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3.5999999046325684px;
  text-rendering: auto;
  word-spacing: 0px;
}

.txtbox{
  -webkit-box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border;
  -webkit-transition-timing-function: linear;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  height: 29px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 3.200000047683716px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 6px;
  text-rendering: auto;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 220px;
  word-spacing: 0px;
}

#page{
  /*width: 600px;
  height: auto;
  margin: 0 auto;*/
}

/*.btn {
  background: #21CDB1; /* this is a green
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100%;
  padding: .5em 1.5em;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  -webkit-transition: .1s linear -webkit-box-shadow;
  -moz-transition: .1s linear -moz-box-shadow;
  -ms-transition: .1s linear box-shadow;
  -o-transition: .1s linear box-shadow;
  transition: .1s linear box-shadow;
  cursor: pointer;
}*/

button {
  background-color: #f2580b;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  width:150px;
  height:50px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #c24609;
  transition: background-color 0.5s;
}


#simulator{
  width: 50%;
  padding: 0, 0, 40px,40px;
  background-color: black;
}

#registers{
  width: 50%;
  float:right;
  color:black;
}

#converters{
  width: 600px;
  height: auto;
  margin: 0 auto;
}

#table_id thead{
  color:white;
}

.inputfile{
  float:right;
  padding: 0;
}

.output, .output-bg {
    background-color: #DFDFDF;
}

.output {
    width: 1.5em;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;
    color: black;
}
